


<div class="homeLogo">
    <span class="raincheck">RainCheck</span>
    <p class="slogan">CHECK THE RAIN BEFORE THE RAIN CHECKS YOU</p>
    <form ng-submit="getWeather(location)">
        <input id="address" type="textbox" ng-model="location" placeholder="Find Weather By City or Zip">
        <button type="button" id="cloud" ng-click='getWeather(location)'>Submit</button><br>
    </form>

    <img ng-src="RainCheck/style/icons/wind.png" alt="" />
    <!-- <img ng-src="http://www.stuff.co.nz/etc/designs/ffx/nz/stuff/social-media-logos/stuff-180x180.jpg" alt="" /> -->
</div>
